@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Estilos existentes para sidebar, body, etc. */

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ffcc00, #ff6f00, #ffcc00, #ff6f00);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden; /* Esto puede ayudar a evitar barras de desplazamiento innecesarias */
}

#loading-text {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    height: 200px;
    z-index: 2; /* Asegura que el texto esté por encima del fondo del avión */
}


