body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Full height */
    display: flex; /* Hace que el sidebar y el content sean flex items */
    overflow: hidden;
}


.container {
    display: flex;
    width: 100%; /* Asegura que el container use todo el ancho disponible */
}

.left-section {
    width: 200px;
    background-color: #ffcc00;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffcc00;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%; /* Asegura que el título se extienda a través de todo el ancho */
}

table {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio por encima de la tabla */
    background-color: #c19a00; /* Fondo general de la tabla */
}

th, td {
    text-align: center;
    padding: 10px;
    background-color: #ffcc00; /* Color de fondo para las celdas */
}
th {
    background-color: #c19a00; /* Color de fondo para los encabezados */
    color: white;
    font-weight: bold;
}

tr {
    border-radius: 10px; 
    margin-bottom: 5px;
    box-shadow: 0 4px 0 0 #f4f4f4; /* Sombra que simula el espacio entre filas */
}

tr:last-child {
    margin-bottom: 0;
    box-shadow: none;
}

tr:not(:last-child) {
    margin-bottom: 10px; /* Añade espacio debajo de cada fila, excepto la última */
    box-shadow: 0 10px 0 0 white; /* Crea un 'espacio' visual usando sombra */
}

/* Aplicar bordes redondeados a las celdas en las esquinas */
tr th:first-child, tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr th:last-child, tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.button-checkin {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde para activo */
    color: white;
    border: none;
    cursor: pointer;
}

button.button-checkin:hover {
    background-color: #c19a00;
}

button.button-checkin:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.main-content {
    flex-grow: 1; /* Toma el espacio restante */
    padding: 20px;
}

.main-content h2 {
    color: rgba(0.1,0.1,0.1);
    background-color: rgba(255, 255, 255, 0.8);
    display:inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.sidebar{
    padding-top: 5px;
    width: 100%; /* Asegura que el sidebar use todo el ancho disponible del .left-section */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente dentro del sidebar */
    gap: 20px; /* Mantiene un espacio entre los elementos */
}
.left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section .sidebar .item,
.left-section .sign-out{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #364670;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover{
    color: #1976d2;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3{
    font-size: 15px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i{
    font-size: 22px;
}

.button-checkin:disabled, .button-draw:disabled{
    background-color: #ccc; /* Gris para deshabilitado */
    cursor: not-allowed;
}

.button-checkin:enabled, .button-draw:enabled{
    background-color: #cca404e4; /* Verde para habilitado */
    cursor: pointer;
}
