/* Estilos básicos */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    width: 100%;
    overflow: hidden; /* Esto puede ayudar a evitar barras de desplazamiento innecesarias */
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #ffcc00;
}

/* Estilo de la lista de vuelos */
.flight-list {
    margin-top: 20px;
}

.flight {
    background-color: #ffcc00;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight span {
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.flight-number {
    flex: 2; /* Más espacio para el número de vuelo */
}

.flight-origin, .flight-destination, .flight-date, .flight-terminal {
    flex: 1;
}
